@{
    ViewData["Title"] = "Registro de encuesta";
}

@section Scripts {
    <script src="~/js/constantes.js" asp-append-version="true"></script>
    <script src="~/js/encuesta.js" asp-append-version="true"></script>
}

<section id="formulario">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <form id="formulario_registro" class="needs-validation">
                    <fieldset>
                        <legend class="my-4">Nueva encuesta</legend>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label" for="Nombre">Nombre:</label>
                                <input class="form-control" type="text" name="Nombre" id="Nombre" required />
                                <div class="invalid-feedback" id="error_nombre">
                                    El nombre es requerido
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Apellidos">Apellidos:</label>
                                <input class="form-control" type="text" name="Apellidos" id="Apellidos" required />
                                <div class="invalid-feedback" id="error_apellidos">
                                    Los apellidos son requeridos
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label" for="Pais">País:</label>
                                <select class="form-control" name="Pais" id="Pais" required>
                                </select>
                                <div class="invalid-feedback" id="error_pais">
                                    El pais es requerido
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Rol">Rol</label>
                                <select class="form-control" name="Rol" id="Rol" required>
                                </select>
                                <div class="invalid-feedback" id="error_rol">
                                    El rol es requerido
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label" for="LenguajePrincipal">Lenguaje de programación
                                    principal:</label>
                                <select class="form-control" name="LenguajePrincipal" id="LenguajePrincipal" required>
                                </select>
                                <div class="invalid-feedback" id="error_lenguaje_principal">
                                    El lenguaje principal es requerido
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="LenguajeSecundario">Lenguaje de programación
                                    secundario:</label>
                                <select class="form-control" name="LenguajeSecundario" id="LenguajeSecundario" required>
                                </select>
                                <div class="invalid-feedback" id="error_lenguaje_secundario">
                                    El lenguaje secundario es requerido
                                </div>
                            </div>
                        </div>
                        <div class="invalid-feedback" id="error_formulario">
                            <div class="d-flex justify-content-center my-4">
                                Por favor revise el formulario y complete la información requerida antes de continuar
                            </div>
                        </div>
                        <div class="valid-feedback" id="exito_formulario">
                            <div class="d-flex justify-content-center my-4">
                                El registro de la nueva encuesta se ha completado con éxito
                            </div>
                        </div>
                        <div class="row my-3 py-3">
                            <div class="col-sm-6">
                                <a class="btn btn-danger w-100" asp-area="" asp-controller="Home"
                                    asp-action="Index">Cancelar<i class="fa-solid fa-delete-left px-4"></i></a>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary w-100" type="submit" id="enviar">
                                    Guardar <i class="fa-solid fa-paper-plane px-4"></i>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
